<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<style>
		body {
			font-family: 'Poppins', sans-serif !important;
		}
		p {
			margin: 0 !important;
		}
		.mb {
			margin-bottom: 20px !important;
		}
		.text-bold {
			font-weight: 500;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.number {
			color: green;
		}
	</style>
	<body>
		<div
			style="
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				height: 150px;
			"
		>
			<img
				src="https://storage.googleapis.com/coi_templates/cms_portal/CMS%20Brand%20Logo.png"
				alt="Image"
				style="max-width: 100%; max-height: 100%; object-fit: contain"
			/>
		</div>
		<p>Dear {{firstName}} {{lastName}},</p>
		<p><strong>Product:</strong> {{productName}} Travel Insurance</p>
		<p class="mb"><strong>Number:</strong> {{policyNumber}}</p>
		<p>
			Thank you for insuring with CHOLAMANDALAM MS GENERAL INSURANCE COMPANY
			LIMITED PJSC, for coverage from
			<strong>{{policyStartDate}}</strong> to
			<strong>{{policyEndDate}}</strong>.
		</p>
		<p>
			We are pleased to enclose your Certificate of Insurance for your
			safekeeping. This document will serve as legal proof of your insurance
			contract with us, and is extremely useful when you need to make claims or
			enquiries. Attached are the key documents:
		</p>
		<ul>
			<li>
				<a
					href="{{coiLink}}"
					target="_blank"
				>
					Certificate of Insurance
				</a>
			</li>
			<li>
				<a
					href="{{receiptLink}}"
					target="_blank"
				>
					Premium Receipt
				</a>
			</li>
			<li>
				<a
					href="{{invoiceLink}}"
					target="_blank"
				>
					VAT Receipt
				</a>
			</li>
			<li>
				<a
					href="{{termsAndConditionsLink}}"
					target="_blank"
				>
					Policy Wording
				</a>
			</li>

			<li>
				<a
					href="{{CMS_HowtoClaim}}"
					target="_blank"
				>
					How to file a claim
				</a>
			</li>
		</ul>
		<p class="mb">
			You can refer to the Policy Wording for the full terms, conditions or
			exclusions. Thank you for your trust and support in CHOLAMANDALAM MS
			GENERAL INSURANCE COMPANY LIMITED!
		</p>
		<p>Yours sincerely,</p>

		<p>CHOLAMANDALAM FINANCIAL HOLDINGS LIMITED</p>
		<strong style="color: green">WhatsApp Support: +91 8080824444</strong>

		<br />

		<strong>
			The travel insurance plan is underwritten by Cholamandalam MS General
			Insurance Company Ltd. Reg office: 2nd Floor, "Dare House", No.2, NSC Bose
			Road, Chennai - 600001, India. CIN :U66030TN2001PLC047977. IRDAI
			Registration Number 123. Trade logo displayed belongs to ‘CHOLAMANDALAM
			FINANCIAL HOLDINGS LIMITED” and Mitsui Sumitomo Insurance Company Limited
			and used by Chola MS under license.
		</strong>
		<!-- <p class="text-bold">
			Copyright © 2025 Covernomads and ISA Insurance & Reinsurance Brokerage
			(ISA RE) LTD
		</p> -->
		<br />
		<strong class="text-bold">All rights reserved.</strong>
		<br />
		<p>
			CONFIDENTIAL: This email and any files transmitted with it are
			confidential and intended solely for the use of the individual or entity
			to whom they are addressed. If you have received this email in error,
			please notify the system manager. This message contains confidential
			information and is intended only for the individual named. If you are not
			the named addressee you should not disseminate, distribute or copy this
			e-mail. Please notify the sender immediately by e-mail if you have
			received this e-mail by mistake and delete this e-mail from your system.
			If you are not the intended recipient you are notified that disclosing,
			copying, distributing or taking any action in reliance on the contents of
			this information is strictly prohibited.
		</p>
		<br />
	</body>
</html>
